@model makaledeneme1.Core.AuthorPost

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AuthorPost</h4>
    <hr />
    <dl class="row">
     @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescriptoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDescriptoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImgeUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/imges/@Model.PostImgeUrl" class="rounded-circle" width="40" height="40" />
        </dd>
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDAte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDAte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.Name)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
