@model IEnumerable<makaledeneme1.Core.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Category</h1>

<p>
    <a class="btn-primary" asp-action="Create">Create New</a>
</p>
@*/////////////////////// sreach icin*@
<form method="get" asp-action="search">
    <input type="search" name="searchItem" class="search-field" />
    <input type="submit" value="Search" class="btn-primary" />
</form>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    if(Model.ToList().Count<5)
    {
        int id = 0;
        <a asp-action="Index" asp-route-id="@id">birinci Sayfa</a>

    }
    else
    {
        <a asp-action="Index" asp-route-id="@Model.ToList().Last().Id">Sonraki</a>

    }
}
